body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

// footer
.footer {
  padding: 81px 0 87px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__copyright, &__link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color: #1f252d;
  }
  &__copyright {
    margin: 0;
  }
  &__link {
    display: flex;
    text-decoration: none;
    align-items: center;
  }
  &__icon {
    fill: #079fc2;
    margin: 0 13px 0 0;
  }
}